﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>contacto</title>
</head>
<body>
    <div>
        <p> Nombre: Paula Andrea Chica Murcia <br />
            correo: paulischica_@@hotmail.com <br />
            Telefono: 3204541936 <br />
            cod: 0172010308
        </p>
            
    </div>
</body>
</html>
