﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       <p> esto es una vista en modelo mvc con ASPNET</p> 
    </div>
</body>
</html>
